<!DOCTYPE html>
<html lang="en">

<head>
  <title>Placeholder Module</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="../css/style.css" rel="stylesheet">
</head>

<body>
  <nav id="global-nav">
    <a href="index.html">Home</a>
    <a href="placeholder.html">Topic</a>
    <a href="research.html">Research</a>
    <a href="data.html">Data</a>
    <a href="placeholder.html">References</a>
    <a href="placeholder.html">Style</a>
    <a href="placeholder.html">Layout</a>
    <a href="placeholder.html">Modality</a>
    <a href="placeholder.html">Professionalization</a>
  </nav>
    <h1>Module Titles Should be in &lt;H1&gt; Tag</h1>

</body>

</html>
